<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target type="File" name="fileLogger" layout="${date}|${level}|${processid}_${threadid}|${message} ${exception:format=tostring}" fileName="C:\Logs\TABD\SN\${shortdate}.log"/>
    <target type="File" name="BookLogger" layout="${date}|${level}|${processid}_${threadid}|${message} ${exception:format=tostring}" fileName="C:\Logs\TABD\SN\Book\book-${shortdate}.log" />
    <target type="File" name="CLILogger" layout="${date}|${level}|${processid}_${threadid}|${message} ${exception:format=tostring}" fileName="C:\Logs\TABD\SN\CLI\cli-${shortdate}.log" />
    <target type="File" name="DILogger" layout="${date}|${level}|${processid}_${threadid}|${message} ${exception:format=tostring}" fileName="C:\Logs\TABD\SN\DI\di-${shortdate}.log" />
    <target type="File" name="MemberLogger" layout="${date}|${level}|${processid}_${threadid}|${message} ${exception:format=tostring}" fileName="C:\Logs\TABD\SN\Member\member-${shortdate}.log" />
  </targets>
  <rules>
    <logger name="fileLogger" levels="Debug, Info, Warn, Error" writeTo="fileLogger"/>
    <logger name="BookLogger" levels="Info, Error" writeTo="BookLogger" />
    <logger name="CLILogger" levels="Info, Error" writeTo="CLILogger" />
    <logger name="DILogger" levels="Info, Error" writeTo="DILogger" />
    <logger name="MemberLogger" levels="Info, Error" writeTo="MemberLogger" />
  </rules>
</nlog>